<body style="background: #5ACCF5">

    <div class="Home">
        <br>
        <h2>Hello, I..um...I'm Jeff Goldblum</h2>
        <p>I gotta say, I..have um, well, I have some thoughts</P>
        <p id="finePrint"> Brought to you by Apartments.com</p>
        <hr>
        <br>
        <div class="container">
            <h3></h3>
            <img class="center" id="shirtless" src="../img/shirtless.jpg"> <br>
            <h4>I, uh, don't think I'm, y'know, so different than the average, y'know,
                average.
            </h4>
            <div class="jeffSaid">
                <p>-Jeff Goldblum</p>
            </div>
        </div>
    </div>
</body>