<body style="background: #757575">

  <div class="Results">
    <br>
    <div class="row1">
      <div class="col-6">
        <h2 id="resultTitle">That's, um..a great, uh, question:</h2>
        <p id="finePrintResult"> Brought to you by Appartments.com</p>
      </div>
    </div>
    <hr>
    <br>
    <div class="container">
      <div class="quote">
        @string.Join(" ", Model)
      </div>
      <br>
      <div class="author">
        -@ViewBag.quoteAuthor
      </div>
      <div class="jeffSaid">
        -Jeff Glodblum
      </div>
    </div>
  </div>
</body>
