<body style="background: #757575">

  <div class="Results">
    <br>
    <h2>That's....um..a great..uh...question:</h2>
    <p id="finePrint"> ........Brought to you by Appartments.com</p>
    <hr>
    <br>
    <div class="container">
      <div class="quote">
        @Model.Contents["quotes"][0]["quote"] however we get our search return goes here
      </div>
      <br>
      <div class="author">
        -@Model.Contents["quotes"][0]["author"] however we get our search author goes here
      </div>
      <div class="jeffSaid">
        -Jeff Glodblum
      </div>
    </div>
  </div>
</body>