<h1>Search Quotes:</h1>

<form asp-controller="Advices" asp-action="Result">
  <p>
    Search by keyword: <input type="text" name="searchString" required="required" />
    <input type="submit" value="Search">
  </p>
</form>
