<div class="Chaos">
  <br>
  <h2>Did he just throw my cat out the window?:</h2>
  <p id="finePrint"> ...........Brought to you by Appartments.com</p>
  <hr>
  <br>
  <div class="container">
    <div class="quote">
      @* -@Model.Contents["quotes"][0]["quote"] however we are returning the quote *@
    </div>
    <br>
    <div class="author">
      @* -@Model.Contents["quotes"][0]["author"] however we are returning the quote author *@
    </div>
    <div class="jeffSaid">
      -Jeff Glodblum
    </div>
  </div>
</div>