<body style="background: #8722bf">

  <div class="Chaos">
    <br>
    <div class="row1">
      <div class="col-6">
        <h2>Did he just throw my cat out the window?:</h2>
        <p id="finePrintChaos"> Brought to you by Apartments.com</p>
      </div>
    </div>
    <hr>
    <br>
    <div class="container">
      <div class="quote">
        @string.Join(" ", Model)
      </div>
      <br>
      <div class="author">
        -@ViewBag.quoteAuthor
      </div>
      <div class="jeffSaid">
        -Jeff Goldblum
      </div>
    </div>
  </div>
</body>
