<body style="background: #8722bf">

  <div class="Chaos">
    <br>
    <h2>Did he just throw my cat out the window?:</h2>
    <p id="finePrint"> ...........Brought to you by Appartments.com</p>
    <hr>
    <br>
    <div class="container">
      <div class="quote">
        @string.Join(" ", Model)
      </div>
      <br>
      <div class="author">
        -@ViewBag.quoteAuthor
      </div>
      <div class="jeffSaid">
        -Jeff Glodblum
      </div>
    </div>
  </div>
</body>
