<body style="background: #757575">
  <div class="search">
    <h1>Ask Mr. Goldblum:</h1>
    <p> He would love to tell you what he thinks. Just give him a topic.

    <form asp-controller="Chaos" asp-action="Result">
      <p>
        Tell me about: <input type="text" name="searchString" required="required" />
        <input type="submit" value="Search">
      </p>
    </form>
  </div>
</body>
